*{
    font-family: 'Handlee', cursive;
}
body{
    padding: 0;
    margin: 0; 
}
/* Seccion de login y registro */
.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-register{
    height: 100vh;
}
.login-register-header{
    height: 25%;
    width: 100%;
}
.login-register-img{
    height: 90%;
    padding-top: 2%;
}  
.login-register-section{
    height: 75%;
    width: 100%;
}
.login-register-body{
    width: 100%;
}
.style{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
}
.input-log-reg{
    width: 50%;
}
.btn-log-reg{
    width: 30%;
    background-color: rgb(59, 184, 134);
    color: white;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}
.login-register-body p{
    color:red;
}
button>a{
    text-decoration: none;
    color: white;
}
.login-footer>p {
    margin: 0;
}
.icon-network{
    cursor: pointer;
}
.login-footer p:nth-child(3) {
    margin-top:10%;
}
.conditions {
    width:50%;
    font-size: 0.75rem;
    margin-top:0%;
    margin-bottom:0%;
}
@media all and (min-width: 768px){
    .login-register{
        display: flex;
        flex-direction: row;
    }
    .login-register-header{
        width: 50%;
        height: 100vh;
    }
    .login-register-img{
        width: 100%;
        height: 100%;
        padding: 0;
    }  
    .login-register-section{
        width: 50%;
        height: 100vh;
    }
    .login-register-body{
        padding-top: 20%;
    }
    .input-log-reg {
        width: 40%;
    }
    .btn-login-register{
        width: 20%;
    }
}

/* Seccion de vista home y perfil  */

header{
    background-color: rgb(211, 209, 209);
    background-image: url('../src/img/logo6.png');
    background-size: 130px;
    background-repeat: no-repeat;
    background-position: center;
}
nav{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}
nav li{
    cursor: pointer;
}
.body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-section{
    width: 84%;
    margin: 3%;
}
.cover-page{
    display: none;
}
.avatar{
    width: 70px;
    height: 70px;
    border: 1px solid #ccc;
    border-radius: 50%;
}
.info-user{
    display: flex;
    flex-direction: row;
}
.info-user >div{
    width: 60%;
    font-size:13px;
    padding-left: 7%;
}
.user{
    margin-top: 4%;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0%;
}
.user-description{
    margin-top: 0%;
}
.publications-section{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 9%;
}
.all-publications{
    width: 100%;
}
.message-post{
    width: 84%;
    margin-top: 6%;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: none;
    font-size: 0.9rem;
}
.buttons{
    width: 86%;
    margin: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.file{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.post-image{
    cursor: pointer;
}
.hide{
    display: none;
}
.input-value{
    font-size: 0.7rem;
}
select{
    border: none;
    color: #565454;
    cursor: pointer;
    background: transparent;
    font-size: 0.9rem;
    font-weight: bold;
    outline: none;
}
.btn-post{
    background-color: rgb(155, 224, 66);
    border: 1px solid #ccc;
    border-radius: 15px;
    color:white;
    font-size: 0.85rem;
    width: 82px;
    height: 30px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

@media all and (min-width: 768px){
    .body{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
    .profile-section{
        width: 25%;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-top: 2%;
    }
    .cover-page{
        display: block;
        width: 100%;
        height: 110px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .info-user{
        margin: 2%;
    }
    .publications-section{
        width: 35%;
        margin-top: 2%;
    }
    .message-post{
        margin-top: 3.5%;
        width: 91%;
    }
    .buttons{
        margin: 1%;
        width: 93%;
    }
}

/*Seccion de posts*/

.div-post{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 6%;
    border: 1px solid #ccc;
    border-radius: 5px;

}
.post-header{
    background-color: rgb(155, 224, 66);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding:0% 5% 0%;
    color: white;
    border: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.post-header p span{
    font-size: 0.95rem;
    font-weight: bold;
}
.btn-delete {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}
.post-body{
    background-color: white;
    width: 90%;
    padding:2.5% 5% 2.5%;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    font-size: 0.9rem;
}
.post-footer{
    background-color: rgb(236, 236, 236);
    width: 90%;
    padding:1.5% 5% 1.5%;
    border: 1px solid #ccc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.icons{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.section-likes{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.count-likes{
    margin: 0%;
}
.div-allcomments{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
.form-comment{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.comment-post{
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: none;
    font-size: 0.9rem;
}

/*Seccion de comentarios*/
.div-comment{
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 0.75rem;
}
.comment-header{
    background-color: rgb(155, 224, 66);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.comment-message{
    padding-left: 2%;
}