*{
    font-family: 'Handlee', cursive;
}
body{
    padding: 0;
    margin: 0; 
}
/* Seccion de login y registro */
.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-register{
    height: 100vh;
}
.login-register-header{
    height: 25%;
    width: 100%;
}
.login-register-img{
    height: 90%;
    padding-top: 2%;
}  
.login-register-section{
    height: 75%;
    width: 100%;
}
.login-register-body{
    width: 100%;
}

.style{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
}
.input-log-reg{
    width: 50%;
}
.btn-log-reg{
    width: 30%;
    background-color:#28ABE3;
    color: white;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}
.login-register-body p{
    color:red;
}
button>a{
    text-decoration: none;
    color: white;
}
.login-footer>p {
    margin: 0;
}
.icon-network{
    cursor: pointer;
}
.login-footer p:nth-child(3) {
    margin-top:10%;
}
.conditions {
    width:50%;
    font-size: 0.75rem;
    margin-top:0%;
    margin-bottom:0%;
}
@media all and (min-width: 768px){
    .login-register{
        display: flex;
        flex-direction: row;
    }
    .login-register-header{
        width: 50%;
        height: 100vh;
    }
    .login-register-img{
        width: 100%;
        height: 100%;
        padding: 0;
    }  
    .login-register-section{
        width: 50%;
        height: 100vh;
    }
    .login-register-body{
        padding-top: 20%;
    }
    .input-log-reg {
        width: 40%;
    }
    .btn-login-register{
        width: 20%;
    }
}

/* Seccion de vista home y perfil  */

header{
    background-image: url('./img/logo6.png');
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
}
nav{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    font-size: 1.2rem;
    font-weight: bold;
}
nav li{
    cursor: pointer;
}
.go-profile{
    text-decoration: none;
    color:black
}
.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profile-section{
    width: 85%;
    margin: 3%;
    background: linear-gradient(319deg, #7028E4 0%, #E5B2CA 100%);
}
.icon-post-header{
    align-items: flex-end;
}
.icon-post{
    color: #B276D5;
}

.like{
background-image: url(https://img.icons8.com/flat_round/64/000000/hearts.png);
background-size: cover;
}
.no-like{
background-image: url(https://img.icons8.com/ios/24/000000/like.png);
}
.user-section{
    width: 90%;
    margin:2%;
    text-align: center;

}
.user-center{
    text-align: center;
}

.cover-page{
    display: none;
}
.avatar{
    width: 70px;
    height: 70px;
    border: 1px solid #ccc;
    border-radius: 50%;
}
.avatar-user{
    width: 100%;
    height: 20%;
    border: 1px solid #ccc;
    border-radius: 50%;
}
.avatar-user-profile{
    width: 40%;
    height: 20%;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-top: 5%;
    border:#7028E4 solid 3pt;
}
.info-user{
    display: flex;
    flex-direction: row;
}
.info-user >div{
    width: 60%;
    font-size:13px;
    padding-left: 7%;
}
.info-user-profile >div{
    width: 20%;
}
.user{
    margin-top: 4%;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0%;
}
.user-description{
    margin-top: 0%;
}
.publications-section{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 9%;
    box-shadow: 0 10px 6px -6px #777;
}
.all-publications{
    width: 100%;
}
.message-post{
    width: 84%;
    margin-top: 6%;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: none;
    font-size: 0.9rem;
}
.buttons{
    width: 86%;
    margin: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.file{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.post-image{
    cursor: pointer;
}
.hide{
    display: none;
}
.input-value{
    font-size: 0.7rem;
}
select{
    border: none;
    color: #565454;
    cursor: pointer;
    background: transparent;
    font-size: 0.9rem;
    font-weight: bold;
    outline: none;
}
.btn-post{
    background: linear-gradient(340.56deg, #7028E4 5%, #E5B2CA 100%);
    border: 1px solid #ccc;
    border-radius: 10px;
    color:white;
    font-size: 0.85rem;
    width: 82px;
    height: 40px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

@media all and (min-width: 768px){
    .body{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
    .profile-section{
        width: 40%;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-top: 2%;
        background: linear-gradient(319deg, #7028E4 0%, #E5B2CA 100%);
    }
    .cover-page{
        display: block;
        width: 100%;
        height: 150px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .info-user{
        margin: 2%;
    }
    .publications-section{
        width: 35%;
        margin-top: 2%;
    }
    .message-post{
        margin-top: 3.5%;
        width: 91%;
    }
    .buttons{
        margin: 1%;
        width: 93%;
    }
}

/*Seccion de posts*/

.div-post{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 6%;
    border-radius: 5px;
    border: #F7F5F9 solid 1pt;
    box-shadow: 0 10px 6px -6px #777;

}
.post-header{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding:2% 5% 1%;
    border: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.main-header-post{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.img-user{
        width: 5%;
        border: 1px solid #ccc;
        border-radius: 50%;
}
.post-header p span{
    font-size: 0.95rem;
    font-weight: bold;
}
.btn-delete {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}
.post-body{
    background-color: white;
    width: 90%;
    padding:2.5% 5% 2.5%;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    font-size: 0.9rem;
}
.post-footer{
    width: 90%;
    padding:1.5% 5% 1.5%;
    border: 1px solid #ccc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.icons{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.section-likes{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.count-likes{
    margin: 0%;
}
.div-allcomments{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
.form-comment{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.comment-post{
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 13px;
    background-color: rgb(203, 147, 208,0.2);
    resize: none;
    font-size: 70%;
    margin: 1% 0%;
    outline: none;
}

/*Seccion de comentarios*/
.div-comment{
    width: 100%;
    font-size: 0.75rem;
}
.comment-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 2.5%;
}
.comment-message{
   width: 82%;
   border: 1px solid #ccc;
   border-radius: 13px;
   background-color: rgb(203, 147, 208,0.2);
}
.name-user-comment{
    padding-left: 1%;
}